.hero {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: #000; 
  }
  
  .hero-image {
    max-width: 80%; 
    max-height: 80%;
    object-fit: contain;
    transition: transform 0.3s ease; 
  }
  h1{
    color: white;

  }